body {
    font-family: Arial;
    background: #6935ac;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(180, 64, 196);
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    background: #010307;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #010307;
}

.error {
    color: red;
}